.cart-container {
  padding: 30px;
  text-align: center;
}

.cart-table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  border: 1px solid #005ac2;
  padding: 10px;
}

.cart-total {
  margin-top: 20px;
  font-size: 24px;
  color: #005ac2;
}

.remove-btn {
  background-color: red;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.checkout-btn {
  margin-top: 20px;
  padding: 12px 22px;
  background-color: #005ac2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn:hover {
  background-color: #003d99;
}
.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 4px;
  background: white;
}



