.products-container {
  padding: 25px;
  text-align: center;
  background-color: #f8faff;
  min-height: 100vh;
}

.products-container h1 {
  font-size: 32px;
  color: #005ac2;
  font-weight: bold;
  margin-bottom: 25px;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  padding: 0 20px;
}


.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-4px);
}


.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}


.product-card h3 {
  font-size: 18px;
  color: #003b85;
  margin: 8px 0;
  min-height: 50px;
}


.price {
  font-size: 20px;
  font-weight: bold;
  color: #005ac2;
  margin-bottom: 15px;
}


.qty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  gap: 15px;
}

.qty-btn {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.qty-btn.minus {
  background-color: white;
  border: 2px solid #d0d0d0;
  color: #005ac2;
}

.qty-btn.plus {
  background-color: #005ac2;
  color: white;
}

.qty-value {
  font-size: 18px;
  font-weight: bold;
  color: #003b85;
}


.add-cart-btn {
  width: 100%;
  background-color: #005ac2;
  color: white;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.add-cart-btn:hover {
  background-color: #003f8a;
}
