.navbar {
  width: 100%;
  background-color: #005ac2;   
  padding: 15px;
  display: flex;
  justify-content: space-between;   
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}


.leftSide .cart-btn {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.leftSide .cart-btn:hover {
  text-decoration: underline;
}


.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar .rightSide a {
  margin: 0 15px;
  text-decoration: none;
  color: white;                 
  font-weight: bold;
  font-size: 18px;
}

.navbar .rightSide a:hover {
  text-decoration: underline;
}
